<div class="row contenedor fondo col-md-12">
  <h1>{{name}}</h1>
  <div class="col-xs-12">
    <img src="{{img}}" alt="" class="img_details"> </img>
  </div>
  <div class="col-xs-12 col-sm-6 stats_main">
    <div class="stats_container col-xs-12">
      <div class="col-xs-6">
        <p>Height: {{height}}</p>
        <p>Vit: {{hp}}</p>
        <p>Atk: {{attack}}</p>
        <p>Sp. Atk: {{special_attack}}</p>
      </div>
      <div class="col-xs-6">
        <p>Weight: {{weight}}</p>
        <p>Speed: {{speed}}</p>
        <p>Def: {{defense}}</p>
        <p>Sp. Def: {{special_defense}}</p>  
      </div>
    </div>
  </div>
  <a href="#!/prueba">
    <button class="button boton">Regresar</button>
  </a>
</div>

